:root {
  --bcg-color: #ffffff;
  --bcg-color-secondary: #f5f4fa;
  --dark-bcg-color: #2f303a;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --text-color-secondary: #757575;
  --black-accent-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
}

/* a{
  text-decoration: none;
}

ul{
  list-style-type: none;
} */

/* HEADER */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo:visited{
  color: var(--black-accent-color);
}

.logo-accent, .logo-accent:visited {
  color: var(--accent-color);
}
.nav-menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-menu,
.address-info {
  list-style-type: none;
}
.nav-item {
  text-decoration: none;
}
.nav-item:hover, .nav-item:focus{
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-main .contacts {
  color: var(--text-color-secondary);
  text-decoration: none;
}
.email:hover, .email:focus, .phone:hover, .phone:focus {
  color: var(--accent-color);
}

/* MAIN PAGE */
.hero {
  background-color: var(--dark-bcg-color);
}

.main-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--bcg-color);
}
.main-btn{
background-color: var(--accent-color);
color: var(--bcg-color);
border: none;
font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
}

/* FOOTER */
.footer-main {
  background-color: var(--dark-bcg-color);
}

.footer-main .contacts {
  color: var(--bcg-color);
  opacity: 0.6;
  text-decoration: none;
  font-style: normal;
}
.address {
  color: var(--bcg-color);
  font-size: 14px;
  font-style: normal;
}

.footer-main .logo {
  color: var(--bcg-color);
}

/* .footer-main .logo:visited{
  color: var(--bcg-color);
} */

/* PORTFOLIO */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* .filters {} */

.button {
  background-color: var(--bcg-color-secondary);
  border: 0;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--bcg-color);
}
