:root{
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  color: #000000;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* 
.filters {}

.filters-item {}
добавить цвет фона, текста и состояния ховер и фокус */

.logo{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;  
  letter-spacing: 0.03em;
}

.logo-accent{
  color: #2196F3;
}

.main-heading{
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF; 
  background-color: thistle;
}

